{
    "build_file": null,
    "build_targets": [],
    "compatibility_level": "1",
    "deps": [],
    "module_dot_bazel": "{{module_bazel_file}}",
    "name": "allwpilib",
    "patch_strip": 0,
    "patches": [],
    "presubmit_yml": null,
    "strip_prefix": "None",
    "test_module_build_targets": [],
    "test_module_path": "test",
    "test_module_test_targets": [],
    "url": "https://github.com/pjreiniger/bzlmodRio-{{group.repo_name}}",
    "version": "{{group.version}}"
}
